<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8"/>
        <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/style.css') }}"
    />
        <title>Youtubeコメント解析</title>
    </head>
    <body>
        <h1>Word Cloud一覧</h1>
        <script src="{{ url_for('static', filename='js/scroll.js') }}"></script>
        <button id="scrollbtn" type="button" onclick="down()">⇩</button>
        {% for data in array %}
        <div class="contents">
        <h2>{{data['title']}}</h2>
        <h3>{{data['channel']}}</h3>
        <ul class="list">
        <li class="youtube_url"><iframe src="https://www.youtube.com/embed/{{data['videoid']}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
        <li class="wordcloud"><img src="static/images/{{data['title']}}.png"></li>
        </ul>
    </div>
        {% endfor %}
        <a href="/">トップページに戻る</a>
    </body>
</html>